@import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.genre-nav {
	float: left;
	width: 200px;
}

.adminbanner {
	font-family: 'Mansalva', cursive;
	height: 40px;
	text-align: center;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: #8b0000;
}

.nav-link {
	color: black;	
}

.nav-item {
	border-bottom: 1px dashed #8b0000;
}

.col-lg-12 {
    margin-top: 50px;
}

.btn {
    background-color: #a80000 !important;
    float: right;
}

.imgFileButt {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 10px;
    background-color: #ffffff;
}

.form-group span{
    font-weight: bold;
}

.file_input {
    margin-top: 10px;
}

.file_input label {
    position:relative;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    width:100px;
    height:30px;
    background:#920000;
    color:#fff;
    text-align:center;
    line-height:30px;
    margin-bottom: 0;
}
.file_input label input {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
}
.file_input input[type=text] {
    display:inline-block;
    width:400px;
    height:28px;
    line-height:28px;
    font-size:11px;
    padding:0;
    border:0;
    border:1px solid #bdbdbd;
}

.genre-select {
    display: block;
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.plus {
    margin-top: 23px;
    cursor: pointer;
}

.plusButt {
    background-color: #d4d4d4;
    border-radius: 4px;
}

.container {
	min-width: 770px;
	float: left;
}

.bigcontainer {
	display: flex;
}
/*
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}


.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  .header {
    margin-bottom: 30px;
  }

  .jumbotron {
    border-bottom: 0;
  }
  */  
}