html {
	background-color: #f1f1f1;
}

.big-cont {
    width: 100%;
    height: 100%;
}

.genre-nav {
    width: 200px;
    float: left;
    height: 2140px;
    background-color: #854646;
}

.list-cont {
    width:calc(100% - 200px);
    float: right;
}

.search-cont {
    min-width: 882px;
}

.left_bar {
    width:100%;
    height:100vh;
    background-color: #854646;
    z-index: 1;
}

.nav-tabs--vertical {
    padding-top: 42px;
}

.nav-item {
    width: 100%;
    padding: 10px 15px;
    color: white;
}

.nav-item:hover {
    background-color: rgb(226, 186, 186);
    color: #550000;
	transition-duration: 1s;
}

.nav-link {
    color: #414141;
}

.nav-link:hover {
    color: #570000;
}


/*검색*/

.search-cont-small {
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: rgb(65, 65, 65);
    color: #e7e7e7;
}

.search-cont-small div {
   float: left;
}

.namebox {
    width: 350px;
}

.namebox, .datebox, .searchButt {
    position: relative;
    top: 80px;
}

.namebox input {
    width: 250px;
    color: black;
}

.searchButt {
    text-align: center;
    width: 200px;
}

.searchButt button {
    width: 80px;
}

#nameSearch, #dateSearch {
    border: 1px solid #cfcfcf;
    padding: 5px;
    border-radius: 5px;
}

.searchButt button {
    padding: 8px;
    border: none;
    color: #616161;
    font-weight: bold;
}

.searchButt button:hover {
    background-color: #c5c5c5;
}

#searchText li{
	cursor: pointer;
}
/*리스트*/
.movieList-cont {
    padding-top: 20px;
    background-color: #f1f1f1;
}

.row {
    width: 100%;
    margin: 0 !important;
    margin-top: 20px;
    display: flex;
}

.col-sm-4 {
    flex: none !important;
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 205px;
}

.panel {
    height: auto;
    max-width: 210px;
    min-width: 180px;
    cursor: pointer;
}

.panel:hover {
	box-shadow: 1px 1px 20px #ddd;
}

.panel-heading {
    background-color: #9f0000 !important;
}

.panel-body {
    min-height: 273px;
    height: 77%;
}

@supports(object-fit: cover){
    .panel-body img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.panel-footer{
	background-color: white !important;
	border-top: 1px dashed #9f0000 !important;
}

@media (min-width: 1242px){
    .col-sm-4{
        width: 20% !important;
    }
    
	 .genre-nav {
    	height: 1763px;
    }
}
.select {
    background-color: #9d0000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.block, #pagingStart span  {
	padding: 8px 16px;
	margin: 0 5px;
	background-color: #9f0000;
	color: white;
}

#paging {
	height: 35px;
	text-align: center;
}