.movieCont {
    background-color: aquamarine;
    height: 500px;
    margin: 0 10%;
}

.image-container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}

.plotbox {
    width: 95%; 
    height: 300px; 
    margin: 0 20px;
}

.commentCont {
    background-color: #f4f4f4;
    height: auto;
    padding-bottom: 50px;
}

.commentWrite {
    margin-left: 20px;
}

.commentWrite label{
    margin-top: px;
    font-size: 18px;
    font-weight: bold;
    color: #919191;
}

#comment {
    resize: none;
    width: 600px;
    height: 80px;
    overflow-y: auto;
    border: 1px solid #ac0000;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 5px rgba(157, 6, 6, 0.32);
}

.commentButt {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    width: 70px;
    padding: 5px 0;
    font-weight: bold;
    color: whitesmoke;
    background-color: #9d0000;
}

.adminButt {
	margin: 0;
}

.commentButt:hover {
    background-color: #b10000;
    box-shadow: 3px 3px 5px rgb(149, 149, 149);
}

/*별점*/

.star {
    margin-bottom: 20px;
    font-size: 22px;
}

.a {
    color:#ffc0c0;
    cursor: pointer;
} 

.on {
    color: #ad0000;
}

.comment_profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #a5a5a5;
    box-sizing: border-box;
    float: left;
}

.comment_profile img {
    width: 100%;
    height: auto;
    border-radius: 100px;
}

@supports(object-fit: cover){
    .comment_profile img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.commentList-small {
    clear: both;
    padding: 20 0px;
}

.commentleft {
    float: left;
    margin-left: 20px;
    color: rgb(154, 0, 0); 
    font-size: 16px;
    position: relative;
    top: -3px;
}

.comment {
    float: left;
    width: 70%;
    min-height: 50px;
    background-color: rgb(154, 0, 0); 
    border-bottom-right-radius: 10px;
    position: relative;
    left: -4px;
    color: whitesmoke;
}

.commentList {
    margin: 20px 20px;
}